<footer class="footer" style="align-items: flex-end; margin: 100px">
  <div class="container">
    <div class="row" style="align-items: flex-start; justify-content: space-around;">
      <div class="col-sm-4">
        <div class="footer-widget">
          <h3>Contactez-nous !</h3><br>
          <div class="footer-widget-content">
            <a href="mailto:contact@archhive.com" class="contact-link">contact@archhive.com</a><br>
            <a href="mailto:support@archhive.com" class="contact-link red"> support@archhive.com </a> <br>
            <a href="tel:0321212121" class="contact-link">(+33) 03 21 21 21 21</a>
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="footer-widget">

          <h3>Horaires d'ouverture</h3><br>
          <div class="footer-widget-content" style="display: flex; justify-content: space-around;">

            <div class="open-time">
              <ul class="opening-time">
                <li><span><i class="fa fa-times"></i></span><p class="clock-time"><strong>Lundi :<br></strong> fermé</p></li>
                <li><span><i class="fa fa-check"></i></span><p><strong>Les Mardis & Vendredis :<br></strong> 7h-11h / 13h-16h</p></li>
            </div>

            <div class="col-sm-4">
              <div class="open-time2">
                <ul class="opening-time2">
                  <li><span><i class="fa fa-check"></i></span><p><strong>Les Samedis & Dimanches :<br></strong> 8h-12h / 14h-17h</p></li>
                  <li><span><i class="fa fa-check"></i></span><p><strong>Pendant les vacances :<br></strong> 9h-12h / 14h-17h</p></li>
                </ul>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</footer>